body {
  background-color: #e6e6e6;
}

h1 {
  font-size: 70px;
}

h2 {
  color: #00F6FF
  font-size: 60px;
  margin-top: 30px;
}

h3 {
  color: Black
  font-size: 45px;
}

h4 {
  color: Black
  font-size: 40px;
}

p {
  margin-right: 2%;
   font-size: 30px;
}

<style>
.p1 {
  font-family: "Times New Roman", "Times", serif;
}

.p2 {
  font-family: "Arial"," Helvetica", sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
